.Network {
    background-color:#082798;
    height:25rem;
    width:48%;
    height: 98%;
    margin:1%;
    z-index:3;
    border-radius: 20px;
    overflow: hidden;
}

// .Network {
//     background-color:#082798;
//     position: absolute;
//     right: 0%;
//     bottom: 0%;
//     height:25rem;
//     width:30%;
//     margin:2%;
//     z-index:3;
//     border-radius: 20px;
//     overflow: hidden;
// }